<?xml version="1.0" encoding="UTF-8"?>
<Configuration maxConnectionsPerAddress="200" threadPool="32" timeout="30000">
  <Partitions>
    <Partition address="http://localhost" port="8081" />
    <Partition address="http://localhost" port="8082" />
  </Partitions>
  <Branches>
    <Branch id="0" partitionId="0">
      <Account id="0" amount="0" />
      <Account id="1" amount="1000" />
      <Account id="2" amount="2000" />
      <Account id="3" amount="3000" />
    </Branch>
    <Branch id="1" partitionId="0">
      <Account id="0" amount="-1000" />
      <Account id="1" amount="1000" />
      <Account id="2" amount="-2000" />
      <Account id="3" amount="2000" />
    </Branch>
    <Branch id="2" partitionId="1">
      <Account id="0" amount="-1000" />
      <Account id="1" amount="1000" />
      <Account id="2" amount="-2000" />
      <Account id="3" amount="2000" />
      <Account id="4" amount="-3000" />
      <Account id="5" amount="3000" />
      <Account id="6" amount="-4000" />
      <Account id="7" amount="4000" />
    </Branch>
  </Branches>
</Configuration>
