<?xml version="1.0" encoding="UTF-8"?>
<Configuration maxConnectionsPerAddress="200" threadPool="32" timeout="30000">
  <Partitions>
    <Partition address="http://localhost" port="8081" />
    <Partition address="http://localhost" port="8082" />
  </Partitions>
  <Branches>
    <Branch partitionId="0" />
    <Branch partitionId="0" />
  </Branches>
</Configuration>
